# Python bytecode (file sampah hasil compile python)
**/__pycache__/
*.py[cod]

# Odoo logs
*.log

# Mac & Windows system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Folder catatan/pembelajaran pribadi
contoh_modul/